@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

/*** Base style ***/
body {
    font-family: 'Nanum Gothic', sans-serif;
    min-height: 740px;
    color: rgb(240, 240, 240);
    text-shadow: 0 2px 2px rgba(255, 255, 255, .1);
    background-color: rgb(25, 25, 25);
    transition: background-color, 330ms;
}

b, strong { font-weight: bold }

i, em { font-style: italic }

a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;

    transition: 0.5s;
}

a:hover,
a:focus {
    background: rgba(255,255,255,0.4);
    text-shadow: -1px -1px 2px rgba(25,25,25,0.5);
}

/*** Fallback message for when Impress isn't supported. ***/
.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

/*** Steps ***/
.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;
    overflow: scroll;

    box-sizing: border-box;

    font-size: 36px;
    line-height: 1.5;
}

.step sub,
.step sup {
    font-size: 15px;
}

.impress-enabled .step {
    margin: 0;
    opacity: 0.1;

    transition: opacity 1s;
}

.impress-enabled .step.once { opacity: 0; }
.impress-enabled .step.active { opacity: 1; }

.impress-enabled .substep, .impress-enabled .step.past .substep { opacity: 0; transition: opacity .5s; }
.impress-enabled .substep.substep-visible { opacity: 1; }

.impress-enabled .step.overflow { overflow: visible; opacity: 1; }
.impress-enabled .step.overflow img { opacity: 1; }
.impress-enabled .step.active.overflow-overlay { opacity: 0; }

.slide {
    display: block;

    width: 900px;
    height: 700px;
    padding: 40px 60px;

    background-color: rgba(0, 0, 0, .1);
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(255, 255, 255, .1);

    color: rgb(240, 240, 240);
    text-shadow: 0 2px 2px rgba(255, 255, 255, .1);

    font-size: 30px;
    overflow: hidden;
}

.slide h1,
.slide h2,
.slide h3,
.slide h4,
.slide h5,
.slide h6 {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: 100px;
    font-size: 36px;
}

.slide.textful {
    font-size: 20px;
}
.slide.y-scroll.active {
    overflow-y: scroll;
}

.vis-slide.prev {
    transform: color 330ms, background-color 330ms, height 330ms, width: 330ms;
}
.vis-slide.active {
    display: block;

    border: none;
    box-shadow: none;
    color: rgb(25, 25, 25);
    background-color: rgb(240, 240, 240);
    opacity: 1;
    height: 100vh;
    width: 100vw;
    transform: color 330ms, background-color 330ms, height 330ms, width: 330ms;
}
.vis-slide svg, .vis-slide img {
    display: block;
    margin: 0 auto;
}

.vis-slide .vis-label {
    text-align: center;
}

.vis-el {
    width: 800px;
    height: 600px;
    display: block;
    margin: 0 auto;
}

.nvtooltip {
    color: black;
}

.sex_importance .nv-series-7 path {
    stroke-width: 5!important;
}

#overview { display: none }

.impress-on-overview #rotate-controls {
    display: block;
}
.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}
.impress-on-overview {
    background-color: rgb(215, 215, 215);
    transition: background-color 330ms;
}

/*** Rotate controls ***/

#rotate-controls {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 200px;
    height: 220px;
    z-index: 10000;
    pointer-events: auto;
    opacity: .5;
}

#rotate-controls .rotateZ, #rotate-controls .rotateX {
    width: 200px;
    height: 20px;
}

#rotate-controls .rotateY {
    width: 200px;
    height: 200px;
    transform-origin: 100px 100px;
    transform: rotate(-90deg)
}

/*** Impress toolbar ***/
.impress-enabled div#impress-toolbar {
    position: fixed;
    right: 1px;
    bottom: 1px;
    opacity: 0.6;
}

.impress-enabled div#impress-toolbar > span {
    margin-right: 10px;
}

body.impress-mouse-timeout div#impress-toolbar {
    display: none;
}

body.impress-mouse-timeout {
    cursor: none;
}


/*** Impress progress bar ***/
.impress-progressbar {
    position: absolute;
    right: 318px;
    bottom: 1px;
    left: 118px;
    border-radius: 7px;
    border: 2px solid rgba(100, 100, 100, 0.2);
}
.impress-progressbar DIV {
    width: 0;
    height: 2px;
    border-radius: 5px;
    background: rgba(75, 75, 75, 0.4);
    transition: width 1s linear;
}
.impress-progress {
    position: absolute;
    left: 59px;
    bottom: 1px;
    text-align: left;
    opacity: 0.6;
;}


/*** Impress console ***/
.notes {
    display: none;
}


/*** Hint ***/
.hint {
    display: none;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 200px;

    background: rgba(0,0,0,0.5);
    color: #EEE;
    text-align: center;

    font-size: 50px;
    padding: 20px;

    z-index: 100;

    opacity: 0;
    transform: translateY(400px);
    transition: opacity 1s, transform 0.5s 1s;
}

.impress-enabled .hint { display: block }

.impress-on-start .hint {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 1s 5s, transform 0.5s 4.5s;
}

/*** From Impress styles:

    And as the last thing there is a workaround for quite strange bug.
    It happens a lot in Chrome. I don't remember if I've seen it in Firefox.

    Sometimes the element positioned in 3D (especially when it's moved back
    along Z axis) is not clickable, because it falls 'behind' the <body>
    element.

    To prevent this, I decided to make <body> non clickable by setting
    pointer-events property to `none` value.
    Value if this property is inherited, so to make everything else clickable
    I bring it back on the #impress element.

    If you want to know more about `pointer-events` here are some docs:
    https://developer.mozilla.org/en/CSS/pointer-events

    There is one very important thing to notice about this workaround - it makes
    everything 'unclickable' except what's in #impress element.

    So use it wisely ... or don't use at all.
***/
/*.impress-enabled                          { pointer-events: none }
.impress-enabled #impress                 { pointer-events: auto }
.impress-enabled #impress-toolbar         { pointer-events: auto }
.impress-enabled #impress-console-button  { pointer-events: auto }*/
